@model Zusmmen.Models.RoomAndFilm

@{
    ViewBag.Name = "Room";
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
}
<h2 id="film-name">@Model.Room.name </h2>
<div>
    <div class="video-container">
        <video src =@Model.FilmPath preload="auto" controls="controls">
        </video>
    </div>
</div>

