
@{
    ViewBag.Title = "Зміна облікового запису";
    Layout = "_Layout";
}
<script src="~/js/new_photo.js"></script> 
<div class="change-profile" id="change-profileUs">
    <div class="photo-change" id="uploadedImageContainer" onclick="openFileExplorer()">
        <img id="uploadedImage" src="../img/photo.ico">
    </div>
    <input type="file" id="fileInput" style="display: none;" onchange="previewImage()">
</div>

<div class="dataUs-changes" id="dataUsContainer" >
    <p class="data-changes">Нікнейм: <input type="text" name="username" style="height: 20px;font-size: 14px;"></p>
    <p class="data-changes">Про себе:  <textarea name="message"></textarea> </p>
 </div>
@using (Html.BeginForm("UserProfil", "Home", FormMethod.Post))
{
    <div id="saveButtonContainer">
        <button class="buttonroom2" id="buttonChanges" type="submit" onclick="saveChanges()">Зберегти зміни</button>
    </div>
}
