@model Zusammen.Models.users;
@{
    ViewBag.Title = "Зміна облікового запису";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="change-profile" id="change-profileUs">
    <div class="photo-change" id="uploadedImageContainer" onclick="openFileExplorer()">
        <img id="uploadedImage" src="../img/photo.ico">
    </div>
    <input type="file" id="fileInput" style="display: none;" onchange="previewImage()">
</div>

<div class="dataUs-changes" id="dataUsContainer">    
    <div class="form__group field"> 
        <input asp-for="@Model.nickname" type="text" class="form__field" placeholder="Name" name="name"  required />
        <label for="name" class="form__label">Нікнейм:</label>
    </div>     
    <div class="form__group field">  
        <input asp-for="@Model.profile_description" type="text" class="form__field" placeholder="Name" name="text"  required />
        <label for="name" class="form__label">Про себе:</label>
    </div>
    <div id="saveButtonContainer">

            <button class="buttonroom2" id="buttonChanges" type="submit" onclick="saveChanges()">Зберегти зміни</button>
        
    </div>
</div>

<script>
    function getUserName(){
        console.log('OK');
        return '@ViewContext.HttpContext.Session.GetString("userName")';
    }
</script>
<script src="~/js/new_photo.js"></script> 
