@model Zusammen.Models.users;
@{
    ViewBag.Title = "Зміна облікового запису";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="change-profile" id="change-profileUs">
    <div class="photo-change" id="uploadedImageContainer" onclick="openFileExplorer()">
        <img id="uploadedImage" src="../img/photo.ico">
    </div>
    <input type="file" id="fileInput" style="display: none;" onchange="previewImage()">
</div>

<div class="dataUs-changes" id="dataUsContainer">  
    <div class="form__group field">  
            <input asp-for="@Model.nickname" type="text" class="form__field" placeholder="Name" name="nick"  required />
            <label for="nick" class="form__label">Нікнейм:</label>
        </div>
    <div class="form__group field">  
        <input asp-for="@Model.profile_description" type="text" class="form__field" placeholder="Name" name="about"  required />
        <label for="about" class="form__label">Про себе:</label>
    </div>
    <div id="saveButtonContainer">
        <button class="buttonroom2" id="buttonChanges" type="submit">Зберегти зміни</button>
    </div>
</div>

<script>
    function getUserName(){
        return '@ViewContext.HttpContext.Session.GetString("userName")';
    }
    
    
    
    $(document).ready(function() {
        $("#buttonChanges").click(function (event) {
            event.preventDefault();
            let newUserData = {
                    name: $("input[name='nick']").val(),
                    about: $("input[name='about']").val()
                };
            console.log(newUserData.about);
            console.log(newUserData.name);
            let userName = getUserName();
            $.ajax({
                url: '/ZusammenDb/UpdateUser/',
                type: 'POST',
                data: {data: newUserData, userName: userName},
                success: function (response) {
                    console.log(response);
                }
            });
        });
    });
</script>
<script src="~/js/new_photo.js"></script> 
