@model List<Zusammen.Models.films>

@{
    ViewBag.Title = "Пошук";
    Layout = "_Layout";
    ViewData["ShowHeader"] = true;
}

<h2 style="color:white" >Результат пошуку</h2>
<div class="film-container">
    <ul id="search-result-list" style=" margin-left: 10px; color: white"></ul>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@foreach(var item in Model)
{
    var path = item.image_path;
    var movie = item.name;
<script>

    $("#search-result-list").append(
        ' <li class="film-data">'+
          '<button class="image-cont">'+
             '<img class="image-name" style="border-radius: 20px" src="@path">'+
              '<div class="overlay">'+
                '<div class="text">@movie</div>'+
               '</div>'+
         ' </button>'+
          '</li>'
    );
            
</script>
}

<style>
    .image-cont{
        height: 385px;
        width: 260px;
    }
    .film-image{
    height: 100%;
    width: 100%;
    }
    
    .film-container{
    display: flex;
    flex-direction: column;
    }
    #search-result-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    }
    li.film-data{
    flex: 1;
    max-width: 30vmin;
    min-width: 20vmax;
    }
</style>
    
        
