@model List<Zusammen.Models.films>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 style="color:white" >Результат пошуку</h2>
<div>
    <ul id="search-result-list" style=" margin-left: 10px; color: white"></ul>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@foreach(var item in Model)
{
    var path = item.image_path;
    var movie = item.name;
<script>

    $("#search-result-list").append(
                '<li>'+
                    '<img src="@path" alt=""">'+
                     '<span style=" margin-left: 60px; color: white; font-size: 30px ">@movie</span>' +
                '</li>'
            );
            
</script>
}
    
        
