@model List<Zusammen.Models.films>
@{
    ViewBag.Title = "Фільми";
    Layout = "_Layout";
    ViewData["ShowHeader"] = true;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="text-center">
    <div class="slides-container-for-moviepage">
        <div class="slide" data-slide>
            @using (Html.BeginForm("FilmView", "Home", new { filmId = 6 }))
            {
                <button style=" background: none; border: none; width: 100%; height: 100%;">
                    <img class="image-name" src="../img/Five_Nights_at_Freddy.jpg ">
                    <div class="overlay">
                        <div class="text">П`ять ночей Фредді</div>
                    </div>
                </button>
            }
        </div>
        <div class="slide" data-slide>
            @using (Html.BeginForm("FilmView", "Home", new { filmId = 4 }))
            {
                <button style=" background: none; border: none; width: 100%; height: 100%;">
                    <img class="image-name" src="../img/Furry_Vegnance.jpg" alt="Image">
                    <div class="overlay">
                        <div class="text">Помста пухнастих</div>
                    </div>
                </button>
            }
        </div>
        <div class="slide" data-slide>
            @using (Html.BeginForm("FilmView", "Home", new { filmId = 8 }))
            {
                <button style=" background: none; border: none; width: 100%; height: 100%;">
                    <img class="image-name" src="../img/Bird_Box.jpg" alt="Image">
                    <div class="overlay">
                        <div class="text">Пташиний короб</div>
                    </div>
                </button>
            }
        </div>
        <div class="slide" data-slide>
            @using (Html.BeginForm("FilmView", "Home", new { filmId = 3 }))
            {
                <button style=" background: none; border: none; width: 100%; height: 100%;">
                    <img class="image-name" src="../img/Casablanca.jpg" alt="Image">
                    <div class="overlay">
                        <div class="text">Касабланка</div>
                    </div>
                </button>
            }
        </div>
        <div class="slide" data-slide>
            @using (Html.BeginForm("FilmView", "Home", new { filmId = 5 }))
            {
                <button style=" background: none; border: none; width: 100%; height: 100%;">
                    <img class="image-name" src="../img/Idiocracy.jpg" alt="Image">
                    <div class="overlay">
                        <div class="text">Планета ідіотів</div>
                    </div>
                </button>
            }
        </div>
        <div class="slide" data-slide>
            @using (Html.BeginForm("FilmView", "Home", new { filmId = 2 }))
            {
                <button style=" background: none; border: none; width: 100%; height: 100%;">
                    <img class="image-name" src="../img/It.jpg" alt="Image">
                    <div class="overlay">
                        <div class="text">Воно</div>
                    </div>
                </button>
            }
        </div>
    </div>
    <button class="btn previous" data-button="previous">
        <img class="image-name" src="../img/left.ico" style="width: 20px; height: 20px;">
    </button>
    <button class="btn next" data-button="next">
        <img class="image-name" src="../img/right.ico" style="width: 20px; height: 20px;">
    </button>
</div>
<div style="width: 115%; margin-left: -100px;">
    <div class="flexdivrow" style="padding-top: 70px;">
        <div style="width: 30%; display: flex; background-size: contain;">
            <form class="filter-genre-year" asp-action="FilterFilms" asp-controller="Home" method="post" style="margin: inherit; margin-left: 40px">
                <h3 style="font-size: 30px" class="h3films">Жанри</h3>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Екшен"/>  Екшен</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Детективи"/>  Детективи</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Драми"/>  Драми</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Історичні"/>  Історичні</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Комедія"/> Комедія</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Біографія"/>  Біографія</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Трилери"/>  Трилери</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Мелодрами"/>  Мелодрами</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Сімейні"/>  Сімейні</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Фантастика"/>  Фантастика</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Жахи"/>  Жахи</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Кримінал"/>  Кримінал</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Фентазі"/>  Фентазі</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Військові"/>  Військові</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Спортивні"/>  Спортивні</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="genreArray" value="Романтика"/>  Романтика</label><br/>

                <!-- Введення значень фільма від і до-->
                <h3 style="font-size: 30px; padding-top: 20px" class="h3films">Роки</h3>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="yearArray" value="2016, 2024"/>  2016-2024</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="yearArray" value="2010, 2016"/>  2010-2016</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="yearArray" value="2000, 2010"/>  2000-2010</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="yearArray" value="1990, 2000"/>  1990-2000</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="yearArray" value="1980, 1990"/>  1980-1990</label><br/>
                <label class="labfilt"><input class="checkbox-filter" type="checkbox" name="yearArray" value="1900, 1980"/>  До 80-х</label><br/>
                <input type="hidden" id="minYear" name="minYear" />
                <input type="hidden" id="maxYear" name="maxYear" />
                <!--<input class="filter" type="submit" name="formSubmit" value="Submit" />-->
                <button id="submit-filter" type="submit" class="filter">Пошук</button>
                <script>
                    document.getElementById('submit-filter').addEventListener('click', function() {
                        var checkboxes = document.querySelectorAll('input[name="yearArray"]:checked');
                        var yearsArray = Array.from(checkboxes).map(function(checkbox) {
                            return checkbox.value.split(',').map(function(year) {
                                return parseInt(year);
                            });
                        }).flat();
                
                        if (yearsArray.length > 0) {
                            var minYear = Math.min(...yearsArray);
                            var maxYear = Math.max(...yearsArray);
                
                            document.getElementById('minYear').value = minYear;
                            document.getElementById('maxYear').value = maxYear;
                        } else {
                            minYear = 1900;
                            maxYear = 2024;
                                            
                            document.getElementById('minYear').value = minYear;
                            document.getElementById('maxYear').value = maxYear;
                        }
                    });
                </script>
            </form>
        </div>
        <div class="filmesdetal">
            <h2 style="color:#e5e5e5; margin-left: 10px"> Фільми:</h2>
            <div class="film-container">
                <ul id="search-result-list" style=" margin-left: 10px; color: #b7b6b6">
                    @if (Model.Count == 0)
                    {
                        <h2 class="NANfilter">Фільми за даними фільтрами не знайдено</h2>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            var path = item.image_path;
                            var movie = item.name;
                            var idfilm = item.id;
                            @using (Html.BeginForm("FilmView", "Home", new { filmId = idfilm }))
                            {
                                <li class="film-data">
                                    <button class="image-cont">
                                        <img class="image-name" style="border-radius: 20px" src="@path">
                                        <div class="overlay">
                                            <div class="text">@movie</div>
                                        </div>
                                    </button>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    // Функція для збереження вибраних значень чекбоксів в локальному сховищі
    function saveCheckboxState() {
        var checkboxes = document.querySelectorAll('.checkbox-filter');
        var checkboxState = {};
        checkboxes.forEach(function(checkbox) {
            checkboxState[checkbox.value] = checkbox.checked;
        });
        localStorage.setItem('checkboxState', JSON.stringify(checkboxState));
    }
    
    // Функція для відновлення вибраних значень чекбоксів з локального сховища
    function restoreCheckboxState() {
        var checkboxState = JSON.parse(localStorage.getItem('checkboxState'));
        if (checkboxState) {
            var checkboxes = document.querySelectorAll('.checkbox-filter');
            checkboxes.forEach(function(checkbox) {
                if (checkboxState.hasOwnProperty(checkbox.value)) {
                    checkbox.checked = checkboxState[checkbox.value];
                }
            });
        }
    }
    
    // Викликаємо функцію відновлення після завантаження сторінки
    document.addEventListener('DOMContentLoaded', function() {
        restoreCheckboxState();
    });
    
    // Викликаємо функцію збереження перед відправкою форми
    document.getElementById('submit-filter').addEventListener('click', function() {
        saveCheckboxState();
    });
</script>