@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
  <div class="slides-container">
      <div class="slide" data-slide>  
          @using (Html.BeginForm("FilmView", "Home", new { filmId = 1 }))
          {
            <button><img src="../img/image1.png "></button>
          }
      </div>
      <div class="slide" data-slide>
          <img src="../img/image2.png" alt="Image">
      </div>
      <div class="slide" data-slide>
          <img src="../img/image3.png" alt="Image">
      </div>
      <div class="slide" data-slide>
          <img src="../img/image4.png" alt="Image">
      </div>
  </div>
  <button class="btn previous" data-button="previous">
          <img src="../img/left.ico" style="width: 20px; height: 20px;">
      </button>
  <button class="btn next" data-button="next">
      <img src="../img/right.ico" style="width: 20px; height: 20px;">
  </button>
  <p>Рекомендації</p>
  <div class="cont">
  <div class="image-container">
      <img src="../img/film1.png" alt="Image">
      <div class="image-caption">Велика сім'я</div>
  </div>
  <div class="image-container">
      <img src="../img/film2.png" alt="Image">
      <div class="image-caption">Людина невидимка. Повернення</div>
  </div>
  <div class="image-container">
      <img src="../img/film3.png" alt="Image">
      <div class="image-caption">Диявол носить Прада</div>
      </div>
  </div>  
</div>