@{
    ViewData["Title"] = "Головна";
    ViewData["ShowHeader"] = true;
}

<div class="text-center">
  <div class="slides-container">
      <div class="slide" data-slide>  
          @using (Html.BeginForm("FilmView", "Home", new { filmId = 1 }))
          {
              <button style=" background: none; border: none; width: 100%; height: 100%;">
                  <img src="../img/Napoleon.jpg" alt="Image">
                  <div class="overlay">
                      <div class="text">Наполеон</div>
                  </div>
              </button>
          }
      </div>
      <div class="slide" data-slide>
          @using (Html.BeginForm("FilmView", "Home", new { filmId = 7 }))
          { 
              <button style=" background: none; border: none; width: 100%; height: 100%;">
                  <img src="../img/NunII.jpg" alt="Image">
                  <div class="overlay">
                      <div class="text">Монахиня 2</div>
                  </div>
              </button>
          }
      </div>
      <div class="slide" data-slide>
          @using (Html.BeginForm("FilmView", "Home", new { filmId = 3 }))
                   { 
                       <button style=" background: none; border: none; width: 100%; height: 100%;">
                           <img src="../img/Casablanca.jpg" alt="Image">
                           <div class="overlay">
                               <div class="text">Касабланка</div>
                           </div>
                       </button>
                   }
      </div>
      <div class="slide" data-slide>
          @using (Html.BeginForm("FilmView", "Home", new { filmId = 8 }))
                   { 
                       <button style=" background: none; border: none; width: 100%; height: 100%;">
                           <img src="../img/Bird_Box.jpg" alt="Image">
                           <div class="overlay">
                               <div class="text">Пташиний короб</div>
                           </div>
                       </button>
                   }
      </div>
  </div>
  <button class="btn previous" data-button="previous">
          <img src="../img/left.ico" style="width: 20px; height: 20px;">
      </button>
  <button class="btn next" data-button="next">
      <img src="../img/right.ico" style="width: 20px; height: 20px;">
  </button>
      <p>Рекомендації</p>
  <div class="cont">
      <div class="image-container">
         @using (Html.BeginForm("FilmView", "Home", new { filmId = 5 }))
         {
             <button style=" background: none; border: none; width: 100%; height: 100%;">
                 <img class="image-name" src="../img/Idiocracy.jpg" alt="Image">
                   <div class="overlay">
                      <div class="text">Ідіократія</div>
                   </div>
             </button>
         }
      </div>
      <div class="image-container">
          @using (Html.BeginForm("FilmView", "Home", new { filmId = 5 }))
          {
          <button style=" background: none; border: none; width: 100%; height: 100%;">
            <img class="image-name"src="../img/Five_Nights_at_Freddy.jpg" alt="Image">
               <div class="overlay">
                   <div class="text">П'ять ночей з Фредді</div>
               </div>
          </button>
          }
         
      </div>
      <div class="image-container">
         @using (Html.BeginForm("FilmView", "Home", new { filmId = 5 }))
         {
         <button style=" background: none; border: none; width: 100%; height: 100%;">
             <img class="image-name"src="../img/TheDevilWearsPrada.png" alt="Image" >
             <div class="overlay">
                 <div class="text">Диявол носить Прада</div>
             </div>
         </button>
         }  
      </div>
  </div>  
</div>