@{
    ViewBag.Title = "Login & Signup";
    ViewData["ShowHeader"] = false;
}
<body class="font">
<div class="login-sign-container">
    <div class="login-sign-box"></div>
    <div class="login-sign-container-forms">
      <div class="login-sign-container-info">
        <div class="login-sign-info-item">
          <div class="login-sign-table">
            <div class="login-sign-table-cell">
              <p> У вас є обліковий запис? </p>
              <div class="login-sign-btn" style="width: 100px">
                Увійти
              </div>
            </div>
          </div>
        </div>
        <div class="login-sign-info-item">
          <div class="login-sign-table">
            <div class="login-sign-table-cell">
              <p>
                Немає облікового запису?
              </p>
              <div class="login-sign-btn" style="width: 160px">
                Зареєструватися
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="login-sign-container-form">
        <div class="login-sign-form-item log-in">
          <div class="login-sign-table">
            <div class="login-sign-table-cell">
              <input name="Username" placeholder="Username" type="text" />
              <input name="Password" placeholder="Password" type="Password" />
              <div class="login-sign-btn" style="width: 100px">
                Увійти
              </div>
            </div>
          </div>
        </div>
        <div class="login-sign-form-item sign-up">
          <div class="login-sign-table">
            <div class="login-sign-table-cell">
              <input name="Username" placeholder="Username" type="text" />
              <input name="email" placeholder="Email" type="text"/>
              <input name="Password" placeholder="Password" type="Password"/>
              <div class="login-sign-btn" style="width: 160px">
                Зареєструватися
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</body>

        
