@model Zusammen.Models.films

@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["ShowHeader"] = true;
}
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm("Room", "Video", FormMethod.Post))
{
    <input type="number" name="roomId"/>
}