@using Google.Protobuf.WellKnownTypes
@{
    ViewData["Title"] = "Privacy Policy";
}
@Html.BeginForm("Room", "Video", FormMethod.Get){
<h1>@ViewData["Title"]</h1>
<input type="text" id="roomId" name="roomId"/>
<input type="submit" value="Go to room"/>
}

