@model Zusammen.Models.films

@{
    ViewData["Title"] = "Про розробників";
    ViewData["ShowHeader"] = true;
}
<div class="container">
  <div class="border-corners">
    <h1 style="color:white;">Наша історія</h1>
    <p>
      я не знаю что писать 
    </p>
  </div>
</div>
<div class="container-photo">
  <div class="card">
    <div class="image-box">
      <img src="../img/lera.jpeg">     
    </div>
    <div class="content">
      <h2 style="color: white">Валерія</h2>
      <p>Всім привіт! Я навчаюся в університеті та займаюся фронтент розробкою цього сайту. Дуже подобається створювати щось незвичне. Планую в майбутньому займатися бекендом </p>
    </div>
  </div>

  <div class="card" > 
    <div class="image-box">
      <img src="../img/yura.jpeg">
    </div>
    <div class="content">
      <h2 style="color: white">Юрій</h2>
      <p>Привіт! На проекті прийняв роль backend розробника. Завжди відкритий до нових корисних знань. Цікавлюся вбудованими системами.</p>
    </div> 
  </div>
  <div class="card">
    <div class="image-box">
      <img src="../img/masha.jpeg">
    </div>
    <div class="content">
      <h2 style="color: white">Mara</h2>
      <p>Конічіва! Здоровенькі були! Я випадково потрапила в даний проект, але з радістю ділюся, що займаюсь і frontend, і backend розробкою даного веб-сайту.
         P.S. Моя слабкість - солодощі, а також складні головоломки.
</p>
    </div>
  </div>
</div> 
<div class="round" style="display: flex; justify-content: space-between;">      
  <div id="lera" >
  <a href="mailto:lerakovalenko11@gmail.com" class="button" style="text-decoration: none; text-transform: uppercase;  ">Зв'язатися</a>     
</div>
<div id="yura">    
  <a href="mailto:uraanenko9@gmail.com" class="button" style="text-decoration: none; text-transform: uppercase; ">Зв'язатися</a>     
</div>
<div id="masha" > 
  <a href="mailto:youremail@gmail.com" class="button" style="text-decoration: none; text-transform: uppercase;">Зв'язатися</a>     
</div>
  </div> 
  