@{
    ViewBag.Title = "Обліковий запис";
    ViewData["ShowHeader"] = true;
}
<div class="user-photo" style="background-color: #296B6A;width: 1000px;height: 1000px">
    <img src="../img/upload.jpg " style="width: 100px; height: 100px; ">
</div>

        
