
@model Zusammen.Models.RoomAndFilm

@{
    ViewBag.Name = "Room";
    ViewBag.Title = "Room " + @Model.Room.name;
    Layout = "_Layout";
}

<h2 style="color:white;" id="film-name">Фільм @Model.Room.name </h2>
<div class="flexdivrow" style="width: 115%;margin-left: -100px;">
    <button id="start" style="width: 60%; height: 600px; background-color: rgb(88, 87, 87);">
        <video id="film-video" src='' preload="auto" autoplay="autoplay" controls="controls"></video>
    </button>
    <div style="width: 40%; height: 600px; background-color: rgb(3, 91, 93); padding-left: 20px">
    </div>
</div>

<script src = "~/lib/signalr/dist/browser/signalr.js"></script>

<script type="text/javascript">

// Функція для отримання даних з моделі. Повертає об'єкт, який містить id кімнати та шлях до відео.
function getModelData(){
    
    const roomId = @Model.Room.id;
    const filmPath = "@Model.FilmPath";
    
    let modelInfo = {
        id: parseInt(roomId),
        videoPath: filmPath
    };  
    return modelInfo;
}
</script>
<script src="~/js/videoRecieve.js"></script>

