html {
  font-size: 14px;
}

.video-container{
  width: 30%;
  height: 40%;
}

video{
  width: 100%;
  height: 100%  ;
}

#film-name{
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
  background-color: #161616;
  height: 100vh;
  display: grid;
}

.container-fluid
{
  background-color: #161616;
}
.navbar
{
  background-color: #161616;
}
ul
{
  display: flex;
  gap: 1rem;
  list-style: none;
}
.nav-link::after
{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #296B6A;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
.nav-link
{
  text-decoration: none;
  font-size: 22px;
  padding: 1rem 2rem;
  position: relative;
}
.nav-link::before
{
  top: 0;
  left: 0;
  transform-origin: right;
}
.nav-link::after
{
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after
{
  transform: scaleX(1);
}
.btn
{
  position: absolute;
  transform: translateY(-50%);
  background-color: #ffffff;
  cursor: pointer;
}
.btn.previous
{
  top: 45%;
  left: 0;
}
.btn.next
{
  top: 45%;
  right: 0;
}
.slides-container {
  width: 22.5vw;
  height: 55vh;
  display: grid;
  position: relative;
}

.slide {
  display: flex;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 800ms ease-in-out;
  margin-left: -60px;
}

.slide img {
  width: 100%;
  height:100%;
  border-radius: 1.5rem;
  border: 2px solid white;
}
body 
{
  height: 100vh;
  background-color: #161616;
}
p
{
  padding-top: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
}
.cont
{
  display: flex;
  flex-direction: row;
}
.image-container 
{
  position: relative;
  text-align: center;
  margin-right: 100px;
  width: 100%;
  height: auto;
}

.image-container img 
{
  margin-left: 65px;
  margin-top: 50px;
  border-radius: 1.5rem;
  border: 2px solid white;
}

.image-caption 
{
  position: relative; 
  text-align: center;
  margin-left: 65px;
  margin-top: 10px; 
  color: white;
}
.search-box
{
  position: absolute;
  top: 47%;
  right: 10%;
  transform: translate(-10%,-50%);
  height: 60px;
  background: #ffffff;
  line-height:40px;
  padding: 10px;
  border-radius: 60px;
}
.search-input
{
  background: #ffffff;
  color: #296B6A;
  outline: none;
  border: none;
  width: 0px;
  float: left;
  font-size:14px;
  transition: 0.6s ease;
  font-family:sans-serif;
}
.search-btn
{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  background: #ffffff;
  padding: 12px;
  border-radius: 50%;
  float: right;
  transition: 0.4s ease;
}
.search-box:hover > .search-input
{
  width: 240px;
  margin: 0px 8px;
}
.search-input:focus
{
  width: 240px;
  margin: 0px 8px;
}
.search-box:hover > .search-btn
{
  background: #296B6A;
}
.icon
{
  position: absolute;
  top: 22%;
  right: 3%;
  background: #ffffff;
  width: 63px;
  height: 60px;
  border-radius: 57%;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown 
{
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  background: #296B6A;
  width: 150px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icon:hover .dropdown 
{
  display: block;
}
.dropdown ul 
{
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.dropdown li 
{
  padding: 10px;
  text-align: center;
}

.dropdown a 
{
  text-decoration: none;
  color: #333;
  display: block;
}

header{
  height: 20%;
}
.bluesymbols{
  font-size: 15px;
  color:rgb(0, 130, 123);
  text-align: left;
  padding-top: 0px;
}
.basicsymbols{
  font-size: 15px;
  color:rgb(200, 200, 200);
  text-align: left;
  padding-top: 0px;
}
.h3films
{
  color:white;
  margin-left: 2%;
  font-size: 17px;
  padding-top: 0px;
}
.flexdivrow{
  display: flex;
  flex-direction: row;
}
.filmesdetal
{
  width: 70%;
  text-align: justify;
  margin-right: 1.5%;
}
.filmesdetal_img{
  width: 35%;
  height: 70%;
}
.filmesdetal_data{
  width: 65%;
  margin-left: 2%;
  height: 70%;
}
.buttonroom{
  margin-top: 1%;
  margin-left: 77%;
  margin-bottom: 1%;
  width: 200px;
  height: 50px;
  background-color: rgb(2, 111, 111);
  color: aliceblue;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 15px;
}
.buttonroom:hover{
  box-shadow: 0px 0px 5px rgb(4, 199, 179),
  0px 0px 10px rgb(4, 199, 179),
  0px 0px 15px rgb(4, 199, 179);
  color: black;
}
.footer{
  width: 100%;
  height: 100px;
}
.footer-img{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.video-container
{
  width: 100%;
  height: 50%;
}