html {
  font-size: 14px;
}

.video-container{
  width: 30%;
  height: 40%;
}

video{
  width: 100%;
  height: 100%  ;
}

#film-name{
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {

  background-color: #161616;
  height: 100vh;
  display: grid;
}

.container-fluid
{
  background-color: #161616;
}
.navbar
{
  background-color: #161616;
}
ul
{
  display: flex;
  gap: 1rem;
  list-style: none;
}
.nav-link::after
{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #296B6A;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
.nav-link
{
  text-decoration: none;
  font-size: 22px;
  padding: 1rem 2rem;
  position: relative;
}
.nav-link::before
{
  top: 0;
  left: 0;
  transform-origin: right;
}
.nav-link::after
{
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after
{
  transform: scaleX(1);
}
.btn
{
  position: absolute;
  transform: translateY(-50%);
  background-color: #ffffff;
  cursor: pointer;
}
.btn.previous
{
  top: 40%;
  left: 0;
  opacity: .4;
  border-radius: 50%;
}
.btn.next
{
  top: 40%;
  right: 0;
  opacity: .4;
  border-radius: 50%;
}
.slides-container {
  width: 20vw;
  height: 55vh;
  display: grid;
  position: relative;
}
.slides-container-for-moviepage
{
  width: 15vw;
  height: 25vh;
  display: grid;
  position: relative;
  margin-left: -70px;
}

.slide {
  display: flex;
  margin-right: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: transform 800ms ease-in-out;
  margin-left: -60px;
}
.image-name{
  display: block;
  width: 100%;
  height: auto;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111111;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 20px;
}
.slide:hover .overlay {
  height: 30%;
  opacity: .4;
}
.overlay1{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111111;
  overflow: hidden;
  width: 90%;
  height: 0;
  transition: .5s ease;
  border-radius: 20px;
}
.slide:hover .overlay1 {
  height: 30%;
  opacity: .4;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.slide img {
  width: 100%;
  height:100%;
  border-radius: 1.5rem;
  border: 2px solid white;
}
body
{
  height: 100vh;
  background-color: #161616;
}
p
{
  padding-top: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
}
.cont
{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}
.image-container 
{
  position: relative;
}

.image-container .overlay 
{
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: .5s ease;
}

.image-container:hover .overlay 
{
  opacity: 1;
  height: 20%;
}
.image-container .overlay .text {
  white-space: normal;
  font-size: 16px;
}
.image-container 
{
  position: relative;
  margin-right: 50px; 
}
.image-container img
{
  margin-top: 50px;
  border-radius: 1.5rem;
  border: 2px solid white;
}

.image-caption
{
  position: relative;
  text-align: center;
  margin-left: 65px;
  margin-top: 10px;
  color: white;
}
.search-box
{
  position: absolute;
  top: 47%;
  right: 10%;
  transform: translate(-10%,-50%);
  height: 60px;
  background: #ffffff;
  line-height:40px;
  padding: 10px;
  border-radius: 60px;
}
.search-input
{
  background: #ffffff;
  color: #296B6A;
  outline: none;
  border: none;
  width: 0px;
  float: left;
  font-size:14px;
  transition: 0.6s ease;
  font-family:sans-serif;
}
.search-btn
{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  background: #ffffff;
  padding: 12px;
  border-radius: 50%;
  float: right;
  transition: 0.4s ease;
}
.search-box:hover > .search-input
{
  width: 240px;
  margin: 0px 8px;
}
.search-input:focus
{
  width: 240px;
  margin: 0px 8px;
}
.search-box:hover > .search-btn
{
  background: #296B6A;
}
.icon
{
  position: absolute;
  top: 22%;
  right: 3%;
  background: #ffffff;
  width: 63px;
  height: 60px;
  border-radius: 57%;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown
{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #296B6A;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icon:hover .dropdown
{
  display: block;
}
.dropdown ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.dropdown li
{
  padding: 10px;
  text-align: center;
}

.dropdown a
{
  text-decoration: none;
  color: #333;
  display: block;
}

header{
  height: 20%;
}
.bluesymbols{
  font-size: 15px;
  color:rgb(0, 130, 123);
  text-align: left;
  padding-top: 0px;
}
.basicsymbols{
  font-size: 15px;
  color:rgb(200, 200, 200);
  padding-top: 0px;
  text-align: justify;
}
.h3films
{
  color:white;
  margin-left: 2%;
  font-size: 17px;
  padding-top: 0px;
}
.flexdivrow{
  display: flex;
  flex-direction: row;
}
.filmesdetal
{
  width: 70%;
  margin-right: 1.5%;
}
.filmesdetal_img{
  width: 35%;
  height: 70%;
}
.filmesdetal_data{
  width: 65%;
  margin-left: 2%;
  height: 70%;
}
.buttonroom{
  margin-top: 1%;
  margin-left: 77%;
  margin-bottom: 1%;
  width: 200px;
  height: 50px;
  background-color: rgb(2, 111, 111);
  color: aliceblue;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 15px;
}
.buttonroom:hover{
  box-shadow: 0px 0px 5px rgb(4, 199, 179),
  0px 0px 10px rgb(4, 199, 179),
  0px 0px 15px rgb(4, 199, 179);
  color: black;
}
.footer{
  position: relative; 
  width: 100%;
  height: 100px;
}
.footer-img{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.filter-genre-year{
  width: 350px;
  height:850px;
  background: linear-gradient(#048080,
  #002323);
  margin: auto;
  padding: 20px;
  border-radius: 25px;
}
.filter{
  margin-top: 50px;
  margin-left: 47%;
  width: 150px;
  height: 50px;
  background-color: rgb(203, 246, 246);
  color: #050505;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 15px;
}
.filter:hover{
  box-shadow: 0px 0px 5px rgb(46, 206, 183),
  0px 0px 10px rgb(4, 199, 179),
  0px 0px 15px rgb(4, 199, 179);
  color: black;
}
.checkbox-filter{
  margin-left: 20px;
  width: 20px;
  height: 20px;
  position: relative;
}
.labfilt{
  color: white;
  font-size: 17px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500&display=swap);
.font {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#012626, #091e1e, #100f0f, #02181c, #012626);
  overflow: hidden;
  margin-top: 350px;
}

.login-sign-table {
  display: table;
  width: 100%;
  height: 100%;
}

.login-sign-table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login-sign-container {
  position: relative;
  width: 600px;
  margin: 30px auto 0;
  height: 320px;
  background-color: #1E797C;
  top: 50%;
  margin-top: -160px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
}
.login-sign-container .login-sign-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.login-sign-container .login-sign-box:before, .login-sign-container .login-sign-box:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color: #004644;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-sign-container .login-sign-box:after {
  background-color: #00655f;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.login-sign-container .login-sign-container-forms {
  position: relative;
}
.login-sign-container .login-sign-btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  color: #fff;
  background-color: #000000;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-sign-container .login-sign-btn:hover {
  opacity: 0.7;
}
.login-sign-container .login-sign-btn, .login-sign-container input {
  padding: 10px 15px;
}
.login-sign-container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-sign-container .login-sign-container-forms .login-sign-container-info {
  text-align: left;
  font-size: 0;
}
.login-sign-container .login-sign-container-forms .login-sign-container-info .login-sign-info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #faf8f8;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-sign-container .login-sign-container-forms .login-sign-container-info .login-sign-info-item p {
  font-size: 20px;
  margin: 20px;
}
.login-sign-container .login-sign-container-forms .login-sign-container-info .login-sign-info-item .login-sign-btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.login-sign-container .login-sign-container-forms .login-sign-container-info .login-sign-info-item .login-sign-table-cell {
  padding-right: 35px;
}
.login-sign-container .login-sign-container-forms .login-sign-container-info .login-sign-info-item:nth-child(2) .login-sign-table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.login-sign-container .login-sign-container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-sign-container .login-sign-container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #00655f;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.login-sign-container .login-sign-container-form .login-sign-btn {
  position: relative;
  box-shadow: 0 0 10px 1px #73ffe5;
  margin-top: 30px;
}
.login-sign-container .login-sign-form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}
.login-sign-container .login-sign-form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.login-sign-container.log-in .login-sign-box:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.login-sign-container.log-in .login-sign-box:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.login-sign-container.log-in .login-sign-container-form {
  left: 265px;
}
.login-sign-container.log-in .login-sign-container-form .login-sign-form-item.sign-up {
  left: 0;
  opacity: 1;
}
.login-sign-container.log-in .login-sign-container-form .login-sign-form-item.log-in {
  left: -100%;
  opacity: 0;
}
.login-sign-container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}
.login-sign-container.active .login-sign-container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}
.login-sign-container.active .login-sign-container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #024141;
  font-size: 130px;
  opacity: 1;
}
.login-sign-container.active input, .login-sign-container.active .login-sign-btn, .login-sign-container.active .login-sign-info-item {
  display: none;
  opacity: 0;
  padding: 0px;
  margin: 0 auto;
  height: 0;
}
.login-sign-container.active .login-sign-form-item {
  height: 100%;
}
.login-sign-container.active .login-sign-container-forms .login-sign-container-info .login-sign-info-item {
  height: 0%;
  opacity: 0;
}
.login-sign-container .login-sign-container-form{
  border-radius: 10px;
}
.login-sign-container .login-sign-btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 60px;
  color: #fff;
  background-color: #035454;
  border: 1px solid #048080;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login-sign-container .login-sign-btn:hover {
  opacity: 0.7;
  background-color: #059696;
  border-color: #035454;
}
.image-cont
{
  position: relative;
  width: 260px;
  height: 385px;
  background: none;
  border: none;
  padding-top: 20px
}
.NANfilter{
  padding-top: 70px;
  color: #a4a3a3;
  text-align: center;
  margin: auto;
}
li.film-data {
  flex: 1;
  max-width: 30vmin;
  min-width: 20vmax;
}
#search-result-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.film-container{
  display: flex;
  flex-direction: column;
}
.film-data:hover .overlay {
  margin-left: 5px;
  height: 20%;
  opacity: .8;
  width: 250px;
  overflow:  visible;
  background-color: #171717;
}
.photo-change {
  width: 180px;
  height: 180px;
  background-color: #296B6A;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.change-profile {
  display: flex; 
  align-items: center;
  margin-right: 20px; 
}

.dataUs-changes {
  display: flex;
  flex-direction: column;
 margin-top: -16.5%;
}

.data-changes {
  font-size: 20px;
  text-align: justify;
  color: rgb(200, 200, 200);
  margin-left: 230px;
}

.buttonroom2
{
  margin-top: 20%;
  margin-left: 77%;
  width: 150px;
  height: 50px;
  background-color: rgb(2, 111, 111);
  color: aliceblue;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 15px;
}
.buttonroom2:hover
{
  box-shadow: 0px 0px 5px rgb(4, 199, 179),
  0px 0px 10px rgb(4, 199, 179),
  0px 0px 15px rgb(4, 199, 179);
  color: black;
}
.photo
{
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color:#296B6A ;
}
.dataUs 
{
  display: flex;
  flex-direction: column;
}

.data
{
  font-size: 20px;
  text-align: justify;
  color:rgb(200, 200, 200) ;
}
.profile 
{
  display: flex;
  align-items: center;
}

.profile .photo 
{
  margin-right: 50px; 
}
.dataUs .data 
{
  color: white;
  margin: 0;
  text-align: left;
}
textarea 
{
  height: 20px;
  font-size: 14px;
}
.status-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.status-indicator.online {
  background-color: #006fff;
}